<!DOCTYPE html>
<html>
  <head>
    <title>Fortran Calculus Portal</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'portal-bundle' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
